@charset "UTF8";


/* configurações gerais */
*{
  margin: -0px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    margin: 5px;
}

body{
    background-color: #6F8695;

}  


/* Header */
header {
    position:static ;
    top: 0; /* Faz o header "grudar" no topo ao rolar a página */
    display: flex; /* Torna o header um contêiner flexível */
    justify-content: space-between; /* Alinha os itens: logo à esquerda, links à direita */
    align-items: center; /* Centraliza verticalmente os itens no header */
    padding: 10px 20px; /* Espaçamento interno */
    background-color: #fff; /* Cor de fundo opcional */
    height: 0px;    /* Altura total do header */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve */
    margin-block-end: 0%;
}

nav {
    background-color: #6F8695;
    height: 70px;

    display: flex; /* Torna o nav um contêiner flexível */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
}

nav > a {
    color: white;
    font-size: 36px;
    text-decoration: none;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;

    margin: 0 15px; /* Espaçamento horizontal entre os links */

    transition: 0.5s;
}
nav > a:hover {
    text-decoration: underline;

    font-size: 39px;

    transition: 0.5s;
}

nav a:first-child {
    font-size: 24px; /* Aumenta o tamanho do ícone */
    color: #333; /* Define a cor do ícone */
    margin-right: 10px; /* Dá um pouco de espaço após o ícone */
    text-decoration: none; /* Remove sublinhado */
}

nav a:first-child:hover {
    color: #64a6ec; /* Altera a cor ao passar o mouse */
}

/* div do contato   */ 

#Contato {
    position: relative;
    margin-block-end: auto;
    text-align: center; /* Garante que o texto fique alinhado à esquerda*/  
    background-color: #000000; /* torna o div colorido */
   color: #ffffff;

}

#Contato ul {
    list-style-type: none; /* Remove as bolinhas da lista */
    padding: 0; /* Remove o padding padrão */
    text-decoration: none;
}

#redesocial img {
    height: 50px; /* Ajusta a altura da logo */
    max-width: 100px; /* Garante que a largura não ultrapasse 100px */
    margin-left: 90%;
    margin-top: -150px;
    
}

/* divis de organização do corpo do texto */

#CenterTex1{
    block-size: auto;
    text-align: justify;
    background-color: #fff;
    margin-left: 320px;
    margin-right: 50px;
    padding: 10px 20px; 
    margin-block-end: 1%;
}
#CenterTex2{
    block-size: auto;
    text-align: justify;
    background-color: #fff;
    margin-left: 320px;
    margin-right: 50px;
    padding: 10px 20px; 
    margin-block-end: 1%;
}
#CenterTex3{
    block-size: auto;
    text-align: justify;
    background-color: #fff;
    margin-left: 320px;
    margin-right: 50px;
    padding: 10px 20px; 
    margin-block-end: 1%;
}
#CenterTex4{
    block-size: auto;
    text-align: justify;
    background-color: #fff;
    margin-left: 320px;
    margin-right: 50px;
    padding: 10px 20px; 
    margin-block-end: 1%;
}



#redirecionamento{
    position: absolute;
background-color: rgb(238, 16, 16);
color: #fff ;
padding: 10px 20px; 
height: 300px;
margin-left: 20px;
margin-right: 1640px;
margin-top: 0px;


}
